body {
    margin-right: 25px;
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    background-size: cover; /* or 'contain' based on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
 
}
.overlay{
    display: block;
}


.tournament {
    display: grid;
    grid-template-columns: repeat(9, 2fr);
    gap: 10px;
    height: 100%;
}


.team {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 5px;
    width: 100px;
    height: 12px; /* Adjusted height to 12px */
    font-size: 14px; /* Increased font size */
    padding: 5px 5px; /* Added padding for longer teams */
}

.team:nth-child(even) {
    background-color: #e0e0e0;
}

.match-1 {
    position: relative;
    padding-bottom: 15px;
}

/* Draw connecting lines between matches in the same round */
.match-1::after {
    content: '';
    position: absolute;
    top: 38%;
    left: 100%;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-1-right {
    position: relative;
    padding-bottom: 15px;
}

.match-1-right::before {
    content: '';
    position: absolute;
    top: 38%;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-2 {
    position: relative;
    padding-bottom: 0px;
}

/* Draw connecting lines between matches in the same round */
.match-2::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 100%;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-3 {
    position: relative;
    padding-bottom: 0px;
}

/* Draw connecting lines between matches in the same round */
.match-3::after {
    content: '';
    position: absolute;
    top: 85px;
    left: 100%;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-4 {
    position: relative;
    padding-bottom: 0px;
}

/* Draw connecting lines between matches in the same round */
.match-4::after {
    content: '';
    position: absolute;
    top: 175px;
    left: 100%;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-5::after {
    display: none;
    
}
.match-2-right {
    position: relative;
}

/* Draw connecting lines between matches in the same round */
.match-2-right::before {
    content: '';
    position: absolute;
    top: 50px;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-3-right {
    position: relative;
}

/* Draw connecting lines between matches in the same round */
.match-3-right::before {
    content: '';
    position: absolute;
    top: 85px;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}
.match-4-right {
    position: relative;
    padding-bottom: 0px;
}

/* Draw connecting lines between matches in the same round */
.match-4-right::before {
    content: '';
    position: absolute;
    top: 85px;
    left: -25px;
    width: 20px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}


/* Divide the grid for each column */
.round-1 {
    grid-column: 1 / 2;
}
/* Customize the styling for teams within round-1 */
.round-1 .team {
    grid-row: auto;
}

.round-1-right {
    grid-column: 9 / 10;
}
.round-1-right .team{
    grid-row: auto;
}
.round-2 {
    grid-column: 2 / 3;
    padding-top: 14px;
}

/* Customize the styling for teams within round-2 */
.round-2 .team {
    position: relative;
    margin-bottom: 53.5px /* Adjust as needed */
}
.round-2-right {
    grid-column: 8 / 9;
    padding-top: 14px;;
}

/* Customize the styling for teams within round-2 */
.round-2-right .team {
    position: relative;
    margin-bottom: 53.5px; /* Adjust as needed */
}
.round-3 {
    grid-column: 3 / 4;
    padding-top: 55px;
    
}

/* Customize the styling for teams within round-3 */
.round-3 .team {
    position: relative;
    margin-bottom: 130px /* Adjust as needed */
}
.round-3-right {
    grid-column: 7 / 8;
    padding-top: 55px;
}

/* Customize the styling for teams within round-3 */
.round-3-right .team {
    position: relative;
    margin-bottom: 130px /* Adjust as needed */
}
.round-4 {
    grid-column: 4 / 5;
    padding-top: 130px;
}

/* Customize the styling for teams within round-3 */
.round-4 .team {
    position: relative;
    margin-bottom: 280px; /* Adjust as needed */
}
.round-4-right {
    grid-column: 6 / 7;
    padding-top: 130px;
}

/* Customize the styling for teams within round-3 */
.round-4-right .team {
    position: relative;
    margin-bottom: 280px /* Adjust as needed */
}
.round-5 {
    grid-column: 5 / 6;
    padding-top: 0px;
}
.round-5-image{
    grid-column: 5 / 6;
    height: 140px;
    padding-top: 10px;
    padding-bottom: 50px;
}

/* Customize the styling for teams within round-3 */
.round-5 .team {
    position: relative;
    margin-bottom: 65px /* Adjust as needed */
}


.team {
    position: relative;
    justify-content: space-around;
}

/* score boxes */

.score-input {
    position: relative;
    right: 0;
    width: 30px;
    height: 100%;
    text-align: right;
    border: none;
    background: none;
    font-size: 14px; /* Set your preferred font size */
    font-weight: bold; /* Set your preferred font weight */
    color: #333; /* Set your preferred text color */
    outline: none;
}

/* Adjustments for the right-side matches */
.match-right .team .score-box {
    right: 0;
    left: initial;
}

.participants-button {
    position: absolute;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: #db6634;
    color: #fff;
    border: none;
    cursor: pointer;
}
.round-5 .participants-button{
    position: absolute;
    left:615px;
    margin-top: 50px;
    height: 10px;
    width: 10px;
    background-color: #db6634;
    color: #fff;
    border: none;
    cursor: pointer;
}

.participants-button:hover {
    background-color: #2980b9;
}
.participants-button-right {
    position: absolute;
    top:0;
    left: -10px;
    height: 10px;
    width: 10px;
    background-color: #db6634;
    color: #fff;
    border: none;
    cursor: pointer;
}

.participants-button-right:hover {
    background-color: #2980b9;
}