body {
    margin-right: 25px;
    margin-top: 100px;
    display: block;
    width: 100%;
    height: 50%;
    overflow-x: hidden;
    background-size: cover; /* or 'contain' based on your preference */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
 
}
body {
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-image,url('/static/images/stadium-4760441.jpg')) center center / cover no-repeat;
    opacity: var(--background-opacity, 0.5); /* Adjust the opacity value here */
    z-index: -1;
}
#toggleButton {
    display: inline-block;
    background-color: rgba(94, 174, 228, 0.545);
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background-image: url('/static/images/switch.svg'); /* Replace 'path_to_your_icon.png' with the actual path to your icon image */
    background-size: 92% 92%; /* Adjust the size of the icon to fit within the button */
    background-repeat: no-repeat; /* Prevent the icon from repeating */
    background-position: center; /* Center the icon within the button */
  }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  width: 50vw;
}

.background-removed {
  background: none;
  width: 50%;
}

:root {
    --line-color: rgba(0, 0, 0, 0); /* Define the variable */
  }
.overlay{
    display: block;
}


.tournament {
    display: grid;
    grid-template-columns: repeat(9, 2fr);
    gap: 10px;
    height: 100%;
    width: 100%;
}


.team {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000008b;
    border: 1px solid #ccc;
    margin: 5px;
    width: 160px;
    height: 12px; /* Adjusted height to 12px */
    text-emphasis-color: white;
    font-size: 14px; /* Increased font size */
    padding: 5px 5px; /* Added padding for longer teams */
}



.match-1 {
    position: relative;
    padding-bottom: 15px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-1::after {
    content: '';
    position: absolute;
    top: 38%;
    left: 100%;
    width: calc(100% - 78%);
    height: 1px;
    background-color:var(--line-color);
    transform: translateY(-50%);
}
.match-1-right {
    position: relative;
    padding-bottom: 15px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

.match-1-right::before {
    content: '';
    position: absolute;
    top: 38%;
    left: -8%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-2 {
    position: relative;
    padding-bottom: 0px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-2::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 100%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-3 {
    position: relative;
    padding-bottom: 0px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-3::after {
    content: '';
    position: absolute;
    top: 85px;
    left: 100%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-4 {
    position: relative;
    padding-bottom: 0px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-4::after {
    content: '';
    position: absolute;
    top: 170px;
    left: 100%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-5{
    align-items: center;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
    padding-top: 9%;
} 


.match-5::after {
    display: none;
    
}
.match-2-right {
    position: relative;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-2-right::before {
    content: '';
    position: absolute;
    top: 50px;
    left: -8%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-3-right {
    position: relative;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-3-right::before {
    content: '';
    position: absolute;
    top: 85px;
    left: -8%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}
.match-4-right {
    position: relative;
    padding-bottom: 0px;
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

/* Draw connecting lines between matches in the same round */
.match-4-right::before {
    content: '';
    position: absolute;
    top: 80px;
    left: -8%;
    width: calc(100% - 78%);
    height: 1px;
    background-color: var(--line-color);
    transform: translateY(-50%);
}


/* Divide the grid for each column */
.round-1 {
    grid-column: 1 / 2;
}
/* Customize the styling for teams within round-1 */
.round-1 .team {
    grid-row: auto;
}

.round-1-right {
    grid-column: 9 / 10;
}
.round-1-right .team{
    grid-row: auto;
}
.round-2 {
    grid-column: 2 / 3;
    padding-top: 14px;
}

/* Customize the styling for teams within round-2 */
.round-2 .team {
    position: relative;
    margin-bottom: 53.5px /* Adjust as needed */
}
.round-2-right {
    grid-column: 8 / 9;
    padding-top: 14px;;
}

/* Customize the styling for teams within round-2 */
.round-2-right .team {
    position: relative;
    margin-bottom: 53.5px; /* Adjust as needed */
}
.round-3 {
    grid-column: 3 / 4;
    padding-top: 55px;
    
}

/* Customize the styling for teams within round-3 */
.round-3 .team {
    position: relative;
    margin-bottom: 130px /* Adjust as needed */
}
.round-3-right {
    grid-column: 7 / 8;
    padding-top: 55px;
}

/* Customize the styling for teams within round-3 */
.round-3-right .team {
    position: relative;
    margin-bottom: 130px /* Adjust as needed */
}
.round-4 {
    grid-column: 4 / 5;
    padding-top: 130px;
}

/* Customize the styling for teams within round-3 */
.round-4 .team {
    position: relative;
    margin-bottom: 280px; /* Adjust as needed */
}
.round-4-right {
    grid-column: 6 / 7;
    padding-top: 130px;
}

/* Customize the styling for teams within round-3 */
.round-4-right .team {
    position: relative;
    margin-bottom: 280px /* Adjust as needed */
}
.round-5 {
    grid-column: 5 / 6;
    padding-top: 0px;
    
}
.round-5-image{
    grid-column: 5 / 6;
    height: 140px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.round-5-image {
    grid-column: 5 / 6;
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
    width:  150px; /* Ensure image maintains aspect ratio */
    height: 150px; /* Ensure image maintains aspect ratio */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding-left: calc((90% - 120px) / 2); /* Calculate padding to center */
    padding-right: calc((90% - 120px) / 2);
}

.round-5-image img {
    width:  150px; /* Ensure image maintains aspect ratio */
    height: 120px; /* Ensure image maintains aspect ratio */
}

/* Customize the styling for teams within round-3 */
.round-5 .team {
    position: relative;
    margin-bottom: 65px /* Adjust as needed */

}


.team {
    position: relative;
    justify-content: space-around;
}

/* score boxes */

.score-input {
    position: relative;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    border: none;
    background: none;
    font-size: 16px; /* Set your preferred font size */
    font-weight: bold; /* Set your preferred font weight */
    color: #ffffff; /* Set your preferred text color */
    -webkit-text-stroke: 0.2px black;  /* For webkit-based browsers like Chrome and Safari */
    -webkit-text-fill-color: white; /* For webkit-based browsers */
    outline: black;
    
}

/* Adjustments for the right-side matches */
.match-right .team .score-box {
    right: 0;
    left: initial;
}


.button_class{
    display: block;
    padding: 0;
    margin:0;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 0 auto; /* This will center the element horizontally */
   
    background-image: url('/static/images/cup.jpg');
    background-position: center;
    background-color: rgba(255, 255, 255, 0.361);
    
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.participants-button {
    position: absolute;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: #db6634;
    color: #fff;
    border: none;
    cursor: pointer;
}
.round-5 .participants-button{
    position: absolute;
    left:615px;
    margin-top: 50px;
    height: 10px;
    width: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.participants-button:hover {
    background-color: #2980b9;
}
.participants-button-right {
    position: absolute;
    top:0;
    left: -10px;
    height: 10px;
    width: 10px;
    background-color: #db6634;
    color: #fff;
    border: none;
    cursor: pointer;
}

.participants-button-right:hover {
    background-color: #2980b9;
}

/* Style the dropdown items */
.dropdown-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Set the width */
    height: 40px; /* Set the height */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    text-decoration: none;
    color: #333; /* Text color */
    background-color: #f9f9f9; /* Background color */
    border: none; /* Remove borders */
    cursor: pointer; /* Change cursor to pointer */
}

/* Change the background color when hovering over the dropdown items */
.dropdown-item:hover {
    background-color: #f1f1f1;
}
.subscribebutton {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff; /* subscribeButton background color */
    color: #fff; /* subscribeButton text color */
    text-decoration: none;
    border-radius: 5px; /* subscribeButton border radius */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover and click effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth effect */
}

.subscribebutton:hover {
    background-color: #0056b3; /* subscribeButton background color on hover */
    transform: translateY(-2px); /* Move subscribebutton slightly up on hover for depth effect */
}

.subscribebutton:active {
    transform: translateY(0); /* Reset transform on click */
    box-shadow: none; /* Remove shadow on click */
}
.framer{
    position: absolute;
    align-self:center; 
    margin: 0 auto;
    opacity: 25%;
    width: 70%; 
    height:100%;
}