<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotated Pyramid with Dots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matches.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ads.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="{{url_for('static', filename='js/mathmaker.js')}}"></script>
    <script src="{{url_for('static', filename='js/Toggler.js')}}"></script>

</head>

<body>
    <div class = "ads">
        
        <div class="carousel-container">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            
            <img src="static/images/Common Roots - Group Logo - FEB2023 - White.jpg" alt="Ad 1">
            <img src="static/images/ETS Exterior 2.jpg" alt="Ad 2">
            <img src="static/images/EVENTTHEM LOGO 2023.jpg" alt="Ad 3">|
            <img src="static/images/EventThemStudios-FINAL (1).png" alt="Ad 4">|
            <img src="static/images/EVENTTHEM LOGO 2023.jpg" alt="Ad 5">|
        </div>
    </div>
    <div class="overlay">
       
        <div class="title" id="titleText">
            <h1> FIFA Royalty by EVENTTHEM </h>
        </div>
        
    <!-- Your HTML structure -->
    <div class="tournament" >
        
        
    </div>
    <div id="Match_Overlay" class="overlay-container">
        <div class="title2">
            <h1>CHAMPION!</h>
        </div>
        <div class="overlay-content">
            <div class="frame-container">
                <div class="title3" >
                    <h1> 2024 EVENTTHEM Champion</h>
                </div>
                <br>
               
                <img src="static/images/vrow.png" alt="Frame" class="framer" >
                    <!-- Static content for the Match Overlay -->
                    <div class="participant">
                        <img src="teamA_image.jpg" alt="Team A">
                        <label>Team:</label>
                        <span>Team A</span>
                        <br>
                    
                    </div>
                
                    
            </div>
            <!-- Close button -->
        </div>
        <button id="closeMatchButton">Close Match</button>
    </div>
    <div class="dropdown">
        <div class="dropdown-content">
            <div class="dropdown-content">
                <a class="dropdown-item" data-value='["round-1", "round-2", "round-3","round-4", "round-5", "round-4-right", "round-3-right", "round-2-right", "round-1-right"]'>32</a>
                <a class="dropdown-item" data-value='["round-2", "round-3","round-4", "round-5", "round-4-right", "round-3-right", "round-2-right"]'>16</a>
                <a class="dropdown-item" data-value='["round-3","round-4", "round-5", "round-4-right", "round-3-right"]'>8</a>
                <a class="dropdown-item" data-value='["round-4", "round-5", "round-4-right"]'>4</a>
            </div>
            <!-- Dropdown content goes here -->
        </div>
    <a href="/subscribe" class="subscribebutton">Subscribe Participants</a>
    <button id="toggleButton" onclick="toggleBackgroundImage()"></button>


    </div>
    
    
    
</div>
<script>
    // Get references to the overlay and the close button
    const overlay = document.getElementById("Match_Overlay");
    const closeButton = document.getElementById("closeMatchButton");

    // Add click event listener to the close button
    closeButton.addEventListener("click", function () {
        // Hide the overlay when the button is clicked
        overlay.style.display = "none";
    });


    

   
</script>
</body>


</html>
